<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>API_DZ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5734A4311DBF64AC00AB5FF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5734A44A1DBF64AC00AB5FF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5734A4551DBF64AD00AB5FF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
